<li>
	<p>{{show_name}}</p>

	<button class="change-watched" data-id="{{id}}" data-newWatched=""="{{unwatched}}">
		{{#if unwatched}}UNWATCHED{{else}}Watched{{/if}}
	</button>

	<button class="delete-show" data-id="{{this.id}}">DELETE!</button>
</li>
