<li>
	{{name}}

	<button class="change-watched" data-id="{{id}}" data-newwatch="{{sleep}}">
		{{#if sleep}}Unwatched{{else}}Watched!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
